<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Menu Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<body>
	<div class="container">
		<aside class="menu">
		<p class="is-active">
			Consumir API
		</p>
		<ul>
        <li><a class="button is-success" href = "/Directorio/CCA">Directorio</a></li>
        <br>
        <li><a class="button is-success" href = "/Planetas/ceres">Planetas</a></li>
      </ul>
	</aside>
	</div>
	

	<footer> Examen 2do Parcial </footer>
</body>

</html>